body {
    /*font-family: 'Verdana', sans-serif;*/
    margin: 50px 25px;
    background:#fff;
}

a {
    /*color: #2a99b6;*/
}

a:hover {
    color: #005952;
}


body h1{
    color: #000;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
}

h2 {
    margin-bottom:5px;
}


body h2 a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    :5px;
}

body h3{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    margin-bottom:5px;
    margin-top:5px;
}

footer, div.page {
    max-width:800px;
    margin-left: 20%;
    /*background: #daeef3;*/
    padding: 20px 30px;
}

header {
    margin-left:15px;
    margin-top: 15px;
    height: 100%; /* 100% Full-height */
    width:20%;
    max-width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*overflow-y:scroll;*/
    padding-top: 20px; /* Place content 60px from the top */
    padding: 15px;
    vertical-align:baseline;
}



/*Remove header on mobile*/
@media screen and (max-width: 600px) {
    header {
        display:none;
    }

    footer, div.page {
        width: 100%;
        margin: 0;
    }

    .projects{
    width:100%;
    }

    body {
        margin:0;
    }
}

header h1 {

    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
}

header h1 a {
    text-underline: none;
    color: #000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: block;
    margin: 0 8px 0 0;
    padding: 0;
}

header a {
    text-decoration: none;
}

header p {
    margin:8px;
}

div.page {

}

div.page img {
    margin:20px;
    width:900px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    max-width:90%;
}



div.page p {
    max-width:600px;
   line-height: 115%;
    margin-left:20px;

}

div.page h1 {
    margin-left:10px;
}

div.page sub, sup { line-height: 0.1em; }


.projects img {
    margin:20px;
    max-width:200px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}
.projects {
    display:flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100vw;
    max-width: 1000px;
    /*column-count:2;*/

}

.project{
    break-inside: avoid;
    background: #f1fbfe;
    max-width:370px;
    margin:10px;
    -webkit-box-shadow: 7px 11px 34px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 7px 11px 34px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 11px 34px 0px rgba(0,0,0,0.59);
    padding-left:0px;
    padding-top:0px;
    border-style:solid;
    border-color:#000;
    border-width:2px;

}

.project h2{
padding-left:5px;
    padding-top:5px;
    padding-bottom:3px;
    margin:0px;
    background:#999;
}

.project hr{
    margin-top:0px;
    margin-left:0px;
    width:100%;
    color:#000;
    border-style:solid;
}

p.meta {
    font-size:12px;
    font-weight: 100;
    color:#888;
    margin-left:50px;
    margin-top:5px;
}
div#info{
    background:#f1fbfe;
    padding:10px;

}

div#right{

}

.imagesmall{
    max-width:400px;
}

.caption{
    max-width:400px;
    font-style:italic;
    margin-left:20px;
}

.image{

}


