body {
    /*font-family: 'Verdana', sans-serif;*/
    margin: 50px 25px;
    background:#fff;
}

a {
    /*color: #2a99b6;*/
}

a:hover {
    color: #005952;
}


body h1{
    color: #666;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
}

h2 {
    margin-bottom:5px;
}

body h2 a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    :5px;
}

footer, div.page {
    max-width:800px;
    margin-left: 20%;
    /*background: #daeef3;*/
    padding: 20px 30px;
}

header {
    height: 100%; /* 100% Full-height */
    width:20%;
    max-width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y:scroll;
    padding-top: 20px; /* Place content 60px from the top */
    padding: 15px;
    vertical-align:baseline;
}

/*Remove header on mobile*/
@media screen and (max-width: 600px) {
    header {
        display:none;
    }

    footer, div.page {
        width: 100%;
        margin: 0;
    }

    .projects{
    width:100%;
    }

    body {
        margin:0;
    }
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
}

header h1 a {
    text-underline: none;
    color: #666;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: block;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {

}

div.page img {
    margin:20px;
    max-width:300px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

.projects {
    display:flex;
    align-items: flex-start;
    flex-flow: row wrap;
    height: 100vw;
}

.project{
    background: #f1fbfe;
    max-width:400px;
    margin:10px;
    -webkit-box-shadow: 7px 11px 34px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 7px 11px 34px 0px rgba(0,0,0,0.59);
    box-shadow: 7px 11px 34px 0px rgba(0,0,0,0.59);
    padding:10px;

}

div#info{
    background:#f1fbfe;


}
