body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    margin: 20px 25px;
    background:#f0f0f0;

}

a {
    color: #4D4DFF;
}

a:hover {
    color: #005952;
}


body h1{
    color: #000;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
}

h2 {
    margin-bottom:5px;
}


body h2 a{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    :5px;
}

body h3{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    margin-bottom:5px;
    margin-top:5px;
}

footer, div.page {
    max-width:800px;
    margin-left: 20%;
    /*background: #daeef3;*/
    padding: 20px 30px;
}

header {
    margin-left:15px;
    margin-top: 15px;
    height: 100%; /* 100% Full-height */
    width:20%;
    max-width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*overflow-y:scroll;*/
    padding-top: 20px; /* Place content 60px from the top */
    padding: 15px;
    vertical-align:baseline;
}



/*Remove header on mobile*/
@media only screen and (max-width: 600px) {
    #info {

    display:none;}
    body > header > h1 > a {
        display:block;
        position:fixed;
        top:5px;
        right:5px;
    }
    footer, div.page {
        width: 100%;
        margin: 0;
        padding:5px;
    }

    .projects{
    width:100%;

    }

    .category > .project{
        max-width:500px;
    }

    .projects > .category{
         border-style:none;
    }


projects img {
    max-width:100%;
}


    body {
        margin:0;
    }


}

header h1 {

    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
}

header h1 a {
    text-underline: none;
    color: #000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height:20px;
    padding-left:15px;
}

header nav ul li {
    display: block;
    margin: 0 8px 0 0;
    padding: 0;
}

header a {
    text-decoration: none;
}

header p {
    margin:8px;
}

div.page {

}

div.page img {
    margin:20px;
    width:900px;
    max-width:90%;
}

div.page video {
    margin:20px;
    width:900px;
    max-width:90%;

}


div.page p {
    max-width:600px;
   line-height: 115%;
    margin-left:20px;

}

div.page h1 {
    margin-left:10px;
}

div.page sub, sup { line-height: 0.1em; }


#sort {
    margin-left:20px;
}

.projects img {
    margin:20px;
    max-width:200px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}
.projects {
  width:100%;
        display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    max-width: 1000 px;

}

.category {
      display:flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width:auto;
     break-inside: avoid;
 
}

.project{
    break-inside: avoid;
    max-width: 100px;
    margin:10px;
    padding-left:0px;
    padding-top:0px;
    border-style:solid;
    border-color:#000;
    border-width:2px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

.project:hover{
    background:#f0f0f0;
    border-color:#4D4DFF;

}

.project h2{
padding-left:5px;
    padding-top:5px;
    padding-bottom:3px;

}

.project h3{
padding-left:5px;
    padding-top:5px;
    padding-bottom:3px;

}

.project hr{
    margin-top:0px;
    margin-left:0px;
    width:100%;
    color:#000;
    border-style:solid;
}

p.meta {
    font-size:12px;
    font-weight: 100;
    margin-left:50px;
    margin-top:5px;
}
div#info{
    background:#f3f3f3;
    padding:10px;
    border-style: solid;
    border-color:#4D4DFF;
    border-width:2px;
}

div#right{

}

.imagesmall{
    max-width:400px;
}

.caption{
    max-width:400px;
    font-style:italic;
    margin-left:20px;
}

.image{

}


